@page "/registroExitoso"
@using HospitalSistema.Data
@using HospitalSistema.Repositorio
@rendermode InteractiveServer
@inject NavigationManager _navigationManager
@inject IRepositorioPacientes _repositorioPacientes

<PageTitle>Pacientes</PageTitle>

<div class="p-3 mb-3 bg-success text-white rounded">
    <h3 class="mb-0"><strong>¡Su registro ha sido exitoso!</strong></h3>
</div>

@code {

}
